@model IEnumerable<ProjectManagement.Models.ProjectIndexViewModel>


<style>
    .projectWindow {
        width: 306px;
        border-radius: 5px;
        overflow: hidden;
        display: inline-block;
        margin: 0 2vw 20px 2vw;
    }
    .projectDescription {
        background-color: #FFFFFF;
        padding: 10px;
        border: 1px solid #CDCDCD;
    }
    .projectTitle
    {
        color: #000000;
    }
    .userName
    {
        color: #000000;
    }
</style>
<h1 class="text-white">Your Awesome Projects</h1>
<a class="btn btn-light" href="/Project/Create" role="button">Create New</a>
<br />
<br />
<div style="height:auto">
    @foreach (var item in Model)
    {
        <div class="projectWindow">
            <img style="width:100%" src="~/img/bg_img1.jpg" />
            <div class="projectDescription">
                <strong>
                    <a class="projectTitle" href="#"><b>@Html.DisplayFor(modelItem => item.name)</b></a>
                </strong>
                <span>by</span><br />
                <strong>
                    <a class="userName" href="/Project/viewProfile?email=@Html.DisplayFor(modelItem => item.admin)">@Html.DisplayFor(modelItem => item.admin)</a>
                </strong>
                @if (item.editable)
                {
                    <br />
                    <br />
                    @Html.ActionLink("Manage Collaborators", "Details", new { id = item.id }, new { @class = "userName" })
                }
                else
                {
                    <br />
                    <br />
                    @Html.ActionLink("Collaboration Details", "Details", new { id = item.id }, new { @class = "userName" })
                }
            </div>
        </div>
    }
</div>

