@{
    ViewBag.Title = "Contact";
}
    <div class="text-center text-white">
        <p>
            <span class="contact-header">General Inquiries</span>
            <br>
            contact@Inventify.org
        </p>
        <address>
            GT Rd, 
            University of Engineering and Technology<br />
            Lahore
            <br/>
            <br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address class="bg-white text-dark rounded">
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
