@{
    ViewBag.Title = "Home Page";
}
<style>
    .jumbotron {
        background-image: url(/img/Jumbo_1.jpg);
        background-size: cover;
    }
</style>

<div class="jumbotron">
    <div>

    </div>
</div>

<div class="row">
    <div class="col-md-4 text-white">
        <h2>STEP-BY-STEP</h2>
        <p>
            We make it easy to learn how to make anything, one step at a time. From the stovetop to the workshop, you are sure to be inspired by the awesome projects that are shared everyday.
        </p>
    </div>
    <div class="col-md-4 text-white">
        <h2>MADE BY YOU</h2>
        <p>Instructables are created by you. No matter who you are, we all have secret skills to share. Come join our community of curious makers, innovators, teachers, and life long learners who love to share what they make.</p>
    </div>
    <div class="col-md-4 text-white">
        <h2>A HAPPY PLACE</h2>
        <p>
            Making things makes people happy. We can't prove it, but we know it to be true. Find your happy place, and join one of the friendliest online communities anywhere.
        </p>
    </div>
</div>